@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.game-area {
  position: relative;
  margin: 20px auto;
  width: 500px;
  height: 500px;
  border: 2px solid #000;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 50%;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid #fff;
  border-radius: 50%;
}
